<p id="notice"><%= notice %></p>

<hr>
<h1> Submission summary:</h1>
<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Projectrepo:</strong>
  <%= @user.projectRepo %>
</p>

<p>
  <strong>Projecturl:</strong>
  <%= @user.projectURL %>
</p>

<p>
  <strong>Oop:</strong>
  <%= @user.oop %>
</p>

<p>
  <strong>Modular:</strong>
  <%= @user.modular %>
</p>

<p>
  <strong>Stack:</strong>
  <%= @user.stack %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @user.testing %>
</p>

<p>
  <strong>Database:</strong>
  <%= @user.database %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @user.debugging %>
</p>

<p>
  <strong>Problemsolving:</strong>
  <%= @user.problemsolving %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @user.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @user.html %>
</p>

<p>
  <strong>Css:</strong>
  <%= @user.css %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @user.motivation %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @user.communication %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @user.energy %>
</p>

<p>
  <strong>intelligence:</strong>
  <%= @user.intelligence %>
</p>
